<% include ./partials/header.ejs %>

  
    <div class="w-full h-screen bg-[url(https://images.unsplash.com/photo-1567359781514-3b964e2b04d6?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YWJzdHJhY3R8ZW58MHx8MHx8fDA%3D)] flex items-center justify-center bg-center bg-cover ">
      <div class="w-[25vw]  bg-white px-16 py-10 rounded-md">
        <h1 class="text-3xl text-center font-semibold text-zinc-700 tracking-tighter leading-none capitalize">Welcome To
          Pinterest.</h1>
        <form action="/login" method="post">
          <input class="border-2 rounded-md  block w-full px-3 py-2  mt-2" type="text" name="username"
            placeholder="Username">
          <input class="border-2 rounded-md  block w-full px-3 py-2  mt-2" type="password" name="password"
            placeholder="Password">
          <a href="#" class="inline-block mt-2 font-semibold text-zinc-500">Forgot Password</a>
          <input class="border-2 rounded-full block w-full px-3 py-2 bg-red-600 text-white  mt-2" type="submit"
            value="Login">
          <p class="text-xs font-semibold text-zinc-500 mt-7  mx-auto text-center">
            By continuing, you agree to Pinterest's Terms of Service; Opens a new tab and acknowledge that you've read our
            Privacy Policy; Opens a new tab. Notice at collection; Opens a new tab.
          </p>
        </form>
        <a href="/register" class="inline-block mt-7 text-sm font-semibold text-zinc-700 text-center w-full">Don't have an Account?</a>
      </div>
    </div>

 


  <% include ./partials/footer.ejs %>